<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Circle</string>
		<key>figure</key>
		<string>circle.png</string>
		<key>selector</key>
		<string>circle</string>
		<key>parameters</key>
		<array>
			<string>D</string>
			<string>d</string>
			<string>b</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Oval</string>
		<key>figure</key>
		<string>ellipse.png</string>
		<key>selector</key>
		<string>ellipse</string>
		<key>parameters</key>
		<array>
			<string>OW</string>
			<string>OH</string>
			<string>iw</string>
			<string>ih</string>
			<string>b</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Square</string>
		<key>figure</key>
		<string>square.png</string>
		<key>selector</key>
		<string>square</string>
		<key>parameters</key>
		<array>
			<string>W</string>
			<string>b</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Rectangle</string>
		<key>figure</key>
		<string>rectangle.png</string>
		<key>selector</key>
		<string>rectangle</string>
		<key>parameters</key>
		<array>
			<string>W</string>
			<string>H</string>
			<string>b</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Cathedral</string>
		<key>figure</key>
		<string>cathedral.png</string>
		<key>selector</key>
		<string>cathedral</string>
		<key>parameters</key>
		<array>
			<string>W</string>
			<string>H</string>
			<string>b</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Cathedral (with Base)</string>
		<key>figure</key>
		<string>baseCathedral.png</string>
		<key>selector</key>
		<string>baseCathedral</string>
		<key>parameters</key>
		<array>
			<string>W</string>
			<string>H</string>
			<string>b</string>
			<string>a</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vesica Piscis</string>
		<key>figure</key>
		<string>vesica.png</string>
		<key>selector</key>
		<string>vesica</string>
		<key>parameters</key>
		<array>
			<string>W</string>
			<string>H</string>
			<string>b</string>
		</array>
	</dict>
</array>
</plist>
